.star{
    display: inline-block;
    background-position: 0 50%;
    background-repeat: repeat-x;
    background-image: url("../icons/star-o.svg");
    
    &__top{
        height: 100%;
        background-position: 0 50%;
        background-repeat: repeat-x;
        background-image: url("../icons/star.svg");
    }
}