.tTag{
  display: inline-block;
  padding: 2px 4px;
  font-size: 12px;
  line-height: 14px;
  border-radius: 4px;

  &:nth-child(n+2){
    margin-left: 6px;
  }

  &--red{
    color: #ef6a79;
    border:1px solid #ef6a79;
  }

  &--blue{
    color: #5ba4e8;
    border:1px solid #5ba4e8;
  }
}

.tBtn{
  width: 50px;
  height: 28px;
  line-height: 28px;
  border-radius: 14px;
  text-align: center;
  background-color: #ef6d83;
  font-size: 12px;
  color: #fff;
  border: none;
  outline: none;
}
